[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb

.DS_Store

# Local cloned repo / crash logs
xr-unity/
mono_crash*.json

# Unity crash logs
mono_crash*.json
